[Desktop Entry]
Categories=LliureX-Administration;
Comment[es_ES]=Selector de Sabores
Comment=Flavours Selector
Comment[ca]=Selector de sabors
Comment[ca_ES.UTF-8@valencia]=Selector de sabors
Comment[ca_ES@valencia]=Selector de sabors
Encoding=UTF-8
Exec=pkexec lliurex-flavours-selector
GenericName[es_ES]=zero-lliurex-flavours
GenericName=zero-lliurex-flavours
Icon=zero-lliurex-flavours
MimeType=
Name[es_ES]=Selector de Sabores
Name=Flavours Selector
Name[ca]=Selector de sabors
Name[ca_ES.UTF-8@valencia]=Selector de sabors
Name[ca_ES@valencia]=Selector de sabors
NoDisplay=true

