Source: zero-lliurex-flavours
Section: x11
Priority: extra
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: Equipo LliureX <lliurex@gva.es>
Build-Depends: llxsrchelper,debhelper (>=10),zero-dev,python3-poinstaller
Standards-Version: 4.1.2

Package: zero-lliurex-flavours
Architecture: all
Depends: ${misc:Depends},python, lliurex-preseed-common, lliurex-preseed-libnss-ldapd, lliurex-preseed-nslcd
Description: Flavours Selection Tool
 Flavours Selection Tool for changing between LliureX flavours
